<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 1. vo등록해서 간단한 alias 이름으로 사용 -->
	<typeAliases>
		<typeAlias alias="emp" type="springweb.z02_vo.Emp"/>
	</typeAliases>
	<!-- 2. sql이 저장되는 mapper.xml 등록 -->
	<mappers>
		<mapper resource="resource/EmpMapper.xml"/>
	</mappers>
</configuration>